# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# vercel
.vercel

# local sqlite db
/.data
*.db
*.sqlite
*.sqlite3
*.db-wal
*.db-shm
*.sqlite-wal
*.sqlite-shm

# typescript
*.tsbuildinfo
next-env.d.ts

# ignore folder
ignore/
